# DuckDB storage engines & write-ahead logs
*.duckdb
*.duckdb.wal
*.db
*.wal

# Cloud & Local Environment Secrets
.env
*.env
*token*
motherduck_token.txt

# Large local raw data extracts (keep raw CSVs in cloud storage)
*.csv
*.tsv
*.parquet
*.json
!**/.gitkeep

# Operating system metadata
.DS_Store
Thumbs.db

# IDE & Editor caches
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/

# Jupyter / notebooks
.ipynb_checkpoints/

# Data files
*.sqlite3
*.orc
*.avro
*.jsonl

# Logs
*.log
